/**
 * @class Amplify\Frontend\Components\Product\ProductGallery
 * @name Product Product Gallery
 * @code product.product-gallery
 * @description Login widget
 * @author Hafijul Islam <hafijul.islam@easyask.com>
 *
 */

.x-product-product-gallery {
    border-radius: 8px;
    border: 1px solid #e9e9ea;
    padding: 16px;
    width: 100% !important;
    height: 490px;

    .product-gallery {

        .gallery-item {
            width: 100%;

            a {
                height: 300px;
                padding: 20px;

                img {
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

        .product-thumbnail {
            height: 96px;
            width: 96px;
            display: inline-block;
            padding: 0.75rem;
            border: 1px solid #e9e9ea;
            border-radius: 8px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            &.active {
                border-color: #000;
            }
        }

        .product-thumbnails {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            width: 100%;
            margin-top: 24px;
        }

        .product-carousel.owl-carousel .owl-stage {
            display: block !important;
        }

        .product-carousel.owl-carousel .owl-item {
            flex-shrink: 0;
        }
    }
}
