/**
 * @class Amplify\Frontend\Components\Menu\CartMenu
 * @name Menu Cart Menu
 * @code menu.cart-menu
 * @description Login widget
 * @author Hafijul Islam <hafijul.islam@easyask.com>
 *
 */

.x-menu-cart-menu {
  position: relative;
  flex-shrink: 0 !important;

  .toolbar-dropdown {
    .toolbar-close {
      color: #0c1021;
    }

    .cart-dropdown {
      #cart_items {
        text-align: center;
        &.loading {
          img {
            max-width: 56px;
            height: 56px;
            margin-top: 35%;
            object-fit: contain;
          }
        }

        &.loaded {
          img {
            max-height: 225px;
          }
        }
      }
    }
  }
}